<section class="activity-heatmap">
  <div class="heatmap-header">
    <h1 class="heatmap-title">{{ T.F.METRIC.CMP.ACTIVITY_HEATMAP | translate }}</h1>
    <div class="heatmap-header__actions">
      @if (heatmapData()) {
        <button
          mat-icon-button
          (click)="shareHeatmap()"
          [disabled]="isSharing()"
          [matTooltip]="'Share Heatmap' | translate"
        >
          @if (isSharing()) {
            <mat-icon>hourglass_empty</mat-icon>
          } @else {
            <mat-icon>share</mat-icon>
          }
        </button>
      }
    </div>
  </div>

  @if (heatmapData(); as data) {
    @if (availableYears().length > 0) {
      <div class="year-nav">
        <button
          mat-icon-button
          type="button"
          [disabled]="!canPrevYear()"
          (click)="prevYear()"
        >
          <mat-icon>chevron_left</mat-icon>
        </button>
        <span class="year-nav__label">{{ selectedYear() }}</span>
        <button
          mat-icon-button
          type="button"
          [disabled]="!canNextYear()"
          (click)="nextYear()"
        >
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    }

    <heatmap-switcher
      [data]="data"
      [dayMap]="data.dayMap"
      [rangeStart]="data.rangeStart"
      [rangeEnd]="data.rangeEnd"
      legendMode="intensity"
      persistKey="metrics"
    />
  } @else {
    <p>{{ T.F.METRIC.CMP.NO_ADDITIONAL_DATA_YET | translate }}</p>
  }
</section>
