<div
  #tagMenuTriggerEl
  [matMenuTriggerFor]="menuEl"
  style="visibility: hidden"
></div>

<mat-menu
  #menuEl="matMenu"
  (closed)="onMenuClosed()"
  (menuOpened)="onTagsMenuOpened()"
>
  <ng-template matMenuContent>
    <div
      class="search-container"
      (click)="$event.stopPropagation()"
      (keydown)="$event.stopPropagation()"
    >
      <input
        #tagsSearchInput
        class="search-input"
        [placeholder]="T.F.TASK.ADD_TASK_BAR.TAG_SEARCH_PLACEHOLDER | translate"
        [ngModel]="tagSearch.searchQuery()"
        (ngModelChange)="tagSearch.searchQuery.set($event)"
        (keydown.arrowdown)="focusFirstTagItem()"
        (keydown.enter)="selectFirstTag($event)"
      />
    </div>
    <div (click)="$event.stopPropagation()">
      @for (tag of tagSearch.filteredItems(); track tag.id) {
        <button
          #tagItem
          (click)="toggleTag.emit(tag.id)"
          (keydown)="onTagMenuKeydown($event, tag.id)"
          mat-menu-item
        >
          @if (task().tagIds.includes(tag.id)) {
            <mat-icon>check_box</mat-icon>
          } @else {
            <mat-icon>check_box_outline_blank</mat-icon>
          }
          @if (tag.icon && tag.isEmojiIcon) {
            <span
              matMenuItemIcon
              [style.color]="tag.color || tag.theme.primary"
              class="tag-ico tag-ico-emoji"
              >{{ tag.icon }}</span
            >
          } @else {
            <mat-icon
              [style.color]="tag.color || tag.theme.primary"
              class="tag-ico"
              >{{ tag.icon || 'label' }}</mat-icon
            >
          }
          {{ tag.title }}
        </button>
      }
      @if (!tagSearch.filteredItems().length) {
        <button
          mat-menu-item
          disabled
        >
          {{ T.F.TASK.ADD_TASK_BAR.TAG_SEARCH_NO_RESULTS | translate }}
        </button>
      }
    </div>
    <button
      mat-menu-item
      (click)="openAddNewTag()"
    >
      <mat-icon>add</mat-icon>
      {{ T.F.TAG.TTL.ADD_NEW_TAG | translate }}
    </button>
  </ng-template>
</mat-menu>
