<div
  #tagMenuTriggerEl
  [matMenuTriggerFor]="menuEl"
  style="visibility: hidden"
></div>

<mat-menu
  #menuEl="matMenu"
  (closed)="onMenuClosed()"
>
  <ng-template matMenuContent>
    <div (click)="$event.stopPropagation()">
      @for (tag of toggleTagList(); track $index) {
        <button
          (click)="toggleTag.emit(tag.id)"
          (keydown)="onTagMenuKeydown($event, tag.id)"
          mat-menu-item
        >
          <div class="custom-option-layout has-checkbox">
            @if (task().tagIds.includes(tag.id)) {
              <mat-icon class="check-ico">check_box</mat-icon>
            } @else {
              <mat-icon class="check-ico">check_box_outline_blank</mat-icon>
            }
            @if (tag.icon && tag.isEmojiIcon) {
              <span
                class="menu-icon-emoji"
                [style.color]="tag.color || tag.theme.primary"
                >{{ tag.icon }}</span
              >
            } @else {
              <mat-icon
                class="tag-ico"
                [style.color]="tag.color || tag.theme.primary"
                >{{ tag.icon || 'label' }}</mat-icon
              >
            }
            <span class="option-title">{{ tag.title }}</span>
            @if (tagFolderMap().get(tag.id); as folder) {
              <span class="folder-subtitle">{{ folder }}</span>
            }
          </div>
        </button>
      }
    </div>
    <button
      mat-menu-item
      (click)="openAddNewTag()"
    >
      <mat-icon>add</mat-icon>
      {{ T.F.TAG.TTL.ADD_NEW_TAG | translate }}
    </button>
  </ng-template>
</mat-menu>
