<div
  class="event-content"
  (click)="openMenu($event)"
>
  <mat-icon class="default">{{ calendarEvent().icon || 'event' }}</mat-icon>
  <mat-icon class="more">more_vert</mat-icon>
  <div class="title">{{ calendarEvent().title }}</div>
  <div class="planner-time-remaining-shared">
    {{ calendarEvent().duration | msToString }}
  </div>
</div>

<div
  [matMenuTriggerFor]="contextMenu"
  class="menu-trigger"
></div>
<mat-menu #contextMenu="matMenu">
  @if (isPluginEvent()) {
    <button
      mat-menu-item
      (click)="openEventLink()"
    >
      <mat-icon>open_in_new</mat-icon>
      {{ T.F.CALENDARS.CONTEXT_MENU.EDIT_EVENT | translate }}
    </button>
  }
  <button
    mat-menu-item
    (click)="createAsTask()"
  >
    <mat-icon>add</mat-icon>
    {{ T.F.CALENDARS.CONTEXT_MENU.CREATE_TASK | translate }}
  </button>
  <button
    mat-menu-item
    (click)="hideForever()"
  >
    <mat-icon>visibility_off</mat-icon>
    {{ T.F.CALENDARS.CONTEXT_MENU.HIDE_FOREVER | translate }}
  </button>
</mat-menu>
