name: Close Stale Discussions

# This is a new workflow that uses the modified thenick775/stalesweeper action.
# https://github.com/LizardByte/community/blob/master/.github/workflows/discussions-stale.yml
# Verbose mode appears to built-in now: https://github.com/LizardByte/community/commit/b7f8c5e1c3f90b902ecb1f570d015d8847b3abb3
# This workflow requires additional modifications as it uses environment variables and other settings that are not applicable to the SP repo.

permissions: {}

on:
  schedule:
    - cron: '00 11 * * *'
  workflow_dispatch:
    inputs:
      days-before-close:
        description: 'days-before-close: number of days of inactivity before closing a discussion'
        required: false
        default: '365'
        type: string
      dry-run:
        description: 'dry-run: when checked, no discussions will be closed'
        type: boolean

jobs:
  close-stale-discussions:
    runs-on: ubuntu-latest
    steps:
      - name: stalesweeper
        uses: thenick775/stalesweeper@1970ca7c8eb73680d0be642c0a60a08e28a9692e  # repo does not have releases
        env:
          DAYS_BEFORE_CLOSE: ${{ github.event_name == 'schedule' && '365' || github.event.inputs.days-before-close }}
          DRY_RUN: ${{ github.event_name == 'schedule' && 'false' || github.event.inputs.dry-run }}
        with:
          categories: 'Actions,GSMS,Libraries,Sunshine,Themerr'
          close-reason: 'OUTDATED'
          close-unanswered: 'true'
          days-before-close: '${{ env.DAYS_BEFORE_CLOSE}}'
          dry-run: ${{ env.DRY_RUN }}
          exempt-labels: 'Feature Request'
          message: >
            This discussion was automatically closed because it has been inactive for ${{ env.DAYS_BEFORE_CLOSE}} days.
          repo-token: ${{ secrets.GH_BOT_TOKEN }}
